# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\04-AIT Undervisning_emner\01-IDATT1001 Programmering 1\Presentasjoner\TableOfName\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
